
  <img class="my" src="assets/images/my essy.png">


<h1 style="color: black;">Esther wants you to feel better</h1>
<P style="color: black;">About the world</P>
<P style="color: black;">About the software development process</P>

<h2 style="color: black;">My Projects</h2>
<p> I have been engaged in  development of the following projects</p>
<ul>
  <li>Parenting app</li>
  <li>Covid 19 app</li>
</ul>


<p>As a self-taught Software developer, Esther focuses on the subjects of lifestyle, developing apps, Creating animations  with an approach relying decidedly on the learning coding skills.
 Her aesthetically driven style can be described as calm, thoughtful, timeless and elegant.Have been working 
as an intern in IDEMS International organisation  at the period of one and a half a year and she is looking forward to
pursing her course in Information and Technology</p>


<p>check out my works</p>
<a href="https://github.com/estherwafula/estherwafula.github.io">
  <img src="assets/images/icon.svg.png">
  </a>

  <a href="https://drive.google.com/file/d/1-G-sbDAqaSSvhDR2CJwRtvrSPUvVCQqG/view?usp=sharing">
    <img src="assets/images/my videos.svg.png">
  </a>
  
 

