<html>
<head>
<style>
h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
 }

p {
  font-size: 1.875em; /* 14px/16=1.875em */
}
</style>
</head>
<body>

  <img src="assets/images/my essy.png">


<h1 style="color: darkmagenta;">Esther wants you to feel better</h1>
<h2 style="color: darkmagenta;">About the world</h2>
<h2 style="color: darkmagenta;">About the software development process</h2>

<p>As a self-taught Software developer, Esther focuses on the subjects of lifestyle, developing apps, Creating animations  with an approach relying decidedly on the learning coding skills.
 Her aesthetically driven style can be described as calm, thoughtful, timeless and elegant.Have been working 
as an intern in IDEMS International organisation  at the period of one and a half a year and she is looking forward to
pursing her course in Information and Technology</p>

<a href="https://github.com/estherwafula/estherwafula.github.io">
  <img src="assets/images/icon.svg.png">
  </a>

  <a href="https://drive.google.com/file/d/1-G-sbDAqaSSvhDR2CJwRtvrSPUvVCQqG/view?usp=sharing">
    <img src="assets/images/my videos.svg.png">
  </a>
  <p>check out my works</p>
 
</body>
</html>
