
  <img class="my" src="assets/images/my essy.png">


<h1 style="color: black;">About Me</h1>
<P>I am an allround web developer. I am a senior programmer with good knowledge of front-end techniques.
   I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. 
   Also I like working in a team, you'll learn faster and much more.
   As the saying goes: 'two heads are better than one'.</P>


<p style="color: red;">My Projects</p>
<p> I have been engaged in  development of the following projects</p>
<ul>
  <li>Parenting app</li>
  <li>Covid 19 app</li>
</ul>


<p>As a self-taught Software developer, Esther focuses on the subjects of lifestyle, developing apps, Creating animations  with an approach relying decidedly on the learning coding skills.
 Her aesthetically driven style can be described as calm, thoughtful, timeless and elegant.Have been working 
as an intern in IDEMS International organisation  at the period of one and a half a year and she is looking forward to
pursing her course in Information and Technology</p>


<p style="color: blue;">check out my works</p>
<a href="https://github.com/estherwafula/estherwafula.github.io">
  <img class="github-logo" src="assets/images/github_logo_transparent.png">
  </a>

 
 

  <iframe width="560" height="315" src="https://www.youtube.com/embed/eUUB9Kcxdbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
   clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
 

