<p>If you’d like to get in touch with me, whether to hire me, request additional contact information,
   or just to say hi, you can contact me using the form below,or my email:estherwafula690@gmail.com </p>
   <p>Thanks for reaching me out!</p>
<form action="/action_page.php">
   
   <div class="input-container">
     <i class="fa fa-user icon"></i>
     <input class="input-field" type="text" placeholder="Username" name="usrnm">
   </div>
 
   <div class="input-container">
     <i class="fa fa-envelope icon"></i>
     <input class="input-field" type="text" placeholder="Email" name="email">
   </div>
 
   <div class="input-container">
     <i class="fa fa-key icon"></i>
     <input class="input-field" type="password" placeholder="Password" name="psw">
   </div>
 
   <button type="submit" class="btn">contact</button>
 </form>

 
 
 
 
 
  