<div id="website-container">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <a id="home"></a>
    <section class="section">
      <app-home></app-home>
    </section>
    <a id="about"></a>
    <section class="section">
      <app-about></app-about>
    </section>
    <a id="achievement"></a>
    <section class="section">
      <app-achievement></app-achievement>
    </section>
    <a id="contacts"></a>
    <section class="section">
      <app-contacts></app-contacts>
    </section>
  </div>/
  </div>
