.sidebar {
    background: palevioletred;
    color: white;
    width: 200px;
    height: 100vh;
}

.sidebar profile-image{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: darkred;
    border-radius: 50%;
}







.links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

