

  h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
  }
  
  h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
  }
  
  p {
    font-size: 0.875em; /* 14px/16=0.875em */
  }
  
  .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #4CAF50;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  