<html>
<head>
<style>
h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
 }

p {
  font-size: 1.875em; /* 14px/16=1.875em */
}
</style>
</head>
<body>

<h1>I have achieved in the following skills</h1>
<h2>Essy is a full time adventurer obsessed with skills in designing websites</h2>
<p>She heads up designing different websites.</p>
<p>and spends her time in learning coding across the globe.</p>
<p>I have learned coding skill for one year one month whereby i have been developing apps like
    [Parenting app and covid 19 app,Other than coding i have gained skills in creating animations and video editing]</p>

    <img src="assets/images/esther.png.png">
    <img src="assets/images/wafula.png.png">
    <img src="assets/images/Wafu.png.png">

</body>
</html>

