<h1 style="color: blue;">I have achieved in the following skills</h1>
<h2 style="color: black;">Essy is a full time adventurer obsessed with skills in designing websites</h2>
<h2 style="color: black;"> She heads up designing different websites.</h2>
<h2 style="color: black;"> and spends her time in learning coding across the globe.</h2>
<P>I have learned coding skill for one year one month whereby i have been developing apps like
 [Parenting app and covid 19 app,Other than coding i have gained skills in creating animations and video editing]</P>
<img src="assets/images/esther.png.png">
<img src="assets/images/wafula.png.png">
<img src="assets/images/Wafu.png.png">